@using Webprojekt_Simma_Fitnessstudio.Models
@using Microsoft.AspNetCore.Http;
@using Webprojekt_Simma_Fitnessstudio.Models.DB
@model User
@{
    ViewData["Title"] = "Index";
}

@if (@Context.Session.GetString("username") == null)
{
    <p>Sie sind nicht angemeldet!</p>
    <br />
    <a asp-controller="user" asp-action="login">Login</a>
    <a asp-controller="user" asp-action="registrieren">Registrieren</a>

}
else
{
    <p>@Context.Session.GetString("username")</p>



        <table>
            <thead>
                <tr>
                    <td><center>Benutzer</center></td>
                </tr>
            </thead>
            <tbody>
                @{User user = Context.Session.GetObjectFromJson<User>("username");}
                <tr>
                    <th>
                        <p class="displayer">Benutzername: </p>
                    </th>
                    <td>
                        <p>@user.UserName</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p class="displayer">Vorname: </p>
                    </th>
                    <td>
                        <p>@user.Firstname</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p class="displayer">Nachname: </p>
                    </th>
                    <td>
                        <p>@user.Lastname</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p class="displayer">Geburtsdatum: </p>
                    </th>
                    <td>
                        <p>@user.Age</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p class="displayer">Geschlecht: </p>
                    </th>
                    <td>
                        <p>@user.Gender</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <form action="/User/Delete/@user.UserName method="post">
            <input type="hidden" name="username" value="@user.UserName" />
            <input type="submit" value="Löschen" />
        </form>

        <a asp-controller="user" asp-action="abmelden">Abmelden</a>


}
